* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

body {
    background-color: cornflowerblue;
}

.logo-link {
    display: inline-block;
    background-color: cornflowerblue;
}

.logo-img {
    height: 7vh;
    border-radius: 30%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: cornflowerblue;
}

.nav_links {
    background-color: cornflowerblue;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav_links li a:hover {
    color: purple;
    transition: all 0.3s ease 0s;
}

.try_btn, .nav_links li a{
    background-color: black;
    display: inline-block; /* Ensures the background covers the entire button */
    border-radius: 5px;
    overflow: hidden; /* Ensures the button doesn't overflow its parent */
}

.try_btn button, .nav_links li a {
    background-color: black; /* Match parent's background color */
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 8px 16px;
    border-radius: inherit; /* Inherits border-radius from parent */
    font-size: 17px;
}

.nav_item {
    background-color: black;
    display: inline-block;
    border-radius: 5px;
}

/*button {*/
/*    padding: 9px 20px;*/
/*    background-color: rgba(0, 135, 170, 1);*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease 0s;*/
/*}*/

/*button:hover {*/
/*    background-color: rgba(0, 135, 170, 0.7);*/
/*}*/


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: cornflowerblue;
}

.content {
    min-height: 90vh;
}