@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --violet-color: #6212ec;
    --ivory-color: #fffff0;

    --black-color: #0e0d11;
    --grey-color: #737373;
    --dark-grey-color: #1d1c20;

    --dark-pink-color: #26111a;
    --dark-pink-color-2: #452039;
    --light-pink-color: #d00150;

    --green-color: #009549;
    --light-green-color: #50d001;
    --dark-green-color: #101a09;
    --dark-green-color-2: #1e290f;

    /*--primary-font: 'Montserrat', Arial, Helvetica, sans-serif;*/
    --primary-font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--black-color);
    font-family: var(--primary-font);
}

body {
    background-color: var(--black-color);
}

.content {
    min-height: 90vh;
}

/*============ logo ============*/
.logo-link {
    display: flex;
    border-radius: 5px;
}

.logo-img {
    height: 5vh;
    border-radius: 5px;
}

/* matching angles by the background color */
img, .header-left, .header-left a, footer a {
    background-color: var(--black-color);
}

/*============ logo ============*/


/*============ header ============*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7% 3%;
    border-bottom: 2px solid var(--dark-grey-color);
    background-color: var(--black-color);
}
/*============ header ============*/


/*============ navbar buttons ============*/
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--black-color);
}

.nav-links li {
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
    background-color: var(--black-color)
}

.nav-links li a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 17px;
    color: white;
    background-color: var(--black-color);
}

/* Change background color on hover for list items and their links */
.nav-links li:hover,
.nav-links li:hover a {
    background-color: var(--dark-grey-color);
    transition: all 0.2s ease-in-out
}
/*============ navbar buttons ============*/


/*============ footer ============*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    /*margin: 3% 0 0 0;*/
    border-top: 2px solid var(--dark-grey-color);
    background-color: var(--black-color);
}
/*============ footer ============*/


/*============ icons ============*/
.social-icons {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 10px;
}
.social-icons a {
    color: var(--grey-color);
    font-size: 24px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: white;
}
/*============ icons ============*/

