/*============ help ============*/
.hidden {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.dividing-line {
    margin-top: 10vh;
    border-top: 2px solid var(--dark-grey-color);
}
/*============ help ============*/


/*============ hero section ============*/
.hero-content {
    width: 60vw;
    margin: 0 auto;
}

.headline {
    padding: 10vh 0 5vh 0;
}

.headline p {
    font-size: 50px;
    color: var(--ivory-color);
    font-family: var(--primary-font);
}
/*============ hero section ============*/


/*============ bento grid ============*/
.bento-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    width: 60vw;
    padding: 5vh 0 0 0;
    margin: 0 auto;
}

.grid-item {
    background-color: #171717;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2vw;
    height: 40vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.lower-grid-item {
    margin-top: 15vh;
}

.upper-grid-item {
    margin-top: -15vh;
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: var(--dark-violet-color);
    transition: all 0.2s ease-in-out;
}

.grid-item:hover h2,
.grid-item:hover p {
    background: none;
    color: var(--ivory-color);
    transform: translateY(-2vh) scale(1.05);
    transition: all 0.4s ease-in-out;
}

.grid-item h2 {
    margin: 0;
    font-size: 2rem;
    background: none;
    color: var(--ivory-color);
}

.grid-item p {
    margin: 2vh 0 0;
    font-size: 1.2rem;
    background: none;
    color: var(--grey-color);
}
/*============ bento grid ============*/


/*============ example ============*/
.example-card {
    width: 60vw;
    min-height: 50vh;
    display: flex;
    align-items: center;
    margin: 10vh 0;
    border-radius: 10px;
    color: var(--ivory-color);
    background-color: var(--dark-grey-color);
}

.example-card .example-img {
    flex: 1; /* Allow this element to grow and take up remaining space */
    margin: 5vh;
    height: 40vh;
    border-radius: 10px;
    background-color: var(--grey-color);
}

.example-card .arrow-img {
    height: 5vh;
    flex: 0 0 10%; /* Fixed width of 10% of the card's width */
    border-radius: 10px;
    background-color: var(--grey-color);
}
/*============ example ============*/


/*============ upload form ============*/
#file-name {
    min-width: 40vw;
    color: var(--ivory-color);
    padding: 6px 16px;
    margin-left: 5px;
    font-size: 17px;
    background-color: var(--dark-grey-color);
}

.upload-container {
    display: flex;
    align-items: center;
    width: 60vw;
    margin: 5vh auto 0;
    border-radius: 5px;
    background-color: var(--dark-grey-color);
}
/*============ upload form ============*/


/*============ main buttons ============*/
.btn {
    display: block;
    align-items: center;
    width: 60vw;
    border-radius: 5px;
    background-color: var(--violet-color);
    color: var(--ivory-color);
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 0.5em 1em;
    font-size: 17px;
}

.submit-btn {
    margin: 2vh auto 0;
    background-color: var(--dark-pink-color);
    color: var(--light-pink-color);
}

.run-btn {
    margin: 2vh auto 0;
    background-color: var(--dark-green-color);
    color: var(--light-green-color);
}

.file-btn {
    width: 30vw;
}

.btn:hover {
    color: var(--ivory-color);
    background-color: var(--dark-violet-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

/*.submit-btn:hover {*/
/*    color: var(--light-pink-color);*/
/*    background-color: var(--dark-pink-color-2);*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

/*.run-btn:hover {*/
/*    color: var(--light-green-color);*/
/*    background-color: var(--dark-green-color-2);*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/
/*============ main buttons ============*/


/*============ files list ============*/
.files-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    min-height: 30vh;
    padding: 5vh 0;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: var(--dark-grey-color);
}

.files-list {
    list-style-type: none;
    background: none;
}

.files-list-container h2 {
    padding-bottom: 3vh;
    color: var(--ivory-color);
    background: none;
}

.files-list-item {
    padding: 1vh;
    background: none;
}
/*============ files list ============*/


/*============ contact card ============*/

.contact-card {
    width: 80vw;
    min-height: 50vh;
    display: flex;
    gap: 4vw;
    margin-top: 10vh;
    border-radius: 10px;
    color: var(--ivory-color);
    background-color: var(--dark-grey-color);
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey-color);
}

.contact-card-text {
    background-color: var(--dark-grey-color);
}

.contact-card:first-child {
    padding: 4vw;
    justify-content: space-between;
}

.contact-card:first-child h2 {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 3vh;
}

.contact-card:first-child p {
    font-size: 1.1rem;
    padding-bottom: 3vh;
    color: var(--grey-color);
}

.contact-card .column:last-child {
    border-radius: 10px;
    background-color: var(--grey-color);
}

.email-btn {
    width: 100%;
    align-self: flex-start;
    margin-top: auto;
}
/*============ contact card ============*/
