
.black_btn {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 8px 16px;
    font-size: 17px;
}

.black_btn:hover {
    color: purple;
    transition: all 0.3s ease 0s;
}


#dropZone {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 15vh;
}

.send_btn {
    margin: 10px;
}

.files-list-item {
    padding: 2vh;
}