
/*============ tables ============*/
.card-body {
    padding: 5vh 0;
}

thead {
    color: var(--ivory-color);
}

/* Adjust the spacing between the cells */
table {
    border-spacing: 1.5vw 1vh;
}

table, thead th, tbody tr td{
    background-color: var(--dark-grey-color);
}

.table-frame {
    border-radius: 10px;
    width: 80vw;
    padding: 3vh 0;
    background-color: var(--dark-grey-color);
}

/* Center-align content within table cells */
.table tbody td {
    min-width: 7vw;
    text-align: center;
}

.table-bordered td, .table-bordered th {
    padding: 8px;
    border-radius: 10px;
    color: var(--ivory-color);
    background-color: var(--dark-grey-color);
}

/*============ tables ============*/


/*============ images ============*/
.small-image {
    max-width: 35vw;
    height: auto;
    border-radius: 10px;
}
/*============ images ============*/


/*============ buttons ============*/

.download-bth {
    width: 70vw;
    margin: 3vh;
    display: block;
    align-items: center;

    border-radius: 5px;
    color: var(--ivory-color);
    font-weight: bold;
    text-decoration: none;
    padding: 2vh 16px;
    font-size: 17px;
    background-color: var(--violet-color);
}

.download-bth:hover {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: black;
    background-color: var(--ivory-color);
}
/*============ buttons ============*/
