{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>Voiture</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
</head>
<body>

<header>
    <div class="header-left">
        <a href="{% url 'index' %}" class="logo-link">
            <img src="{% static 'images/logo.png' %}" class="logo-img" alt="Voiture Logo">
        </a>
    </div>
    <nav class="header-center">
        <ul class="nav-links">
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contacts</a></li>
        </ul>
    </nav>
    <div class="header-right">
        <ul class="nav-links">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Try Voiture</a></li>
        </ul>
    </div>
</header>

<div class="content">
    {% block content %} {% endblock content %}
</div>

<footer>
    <a href="{% url 'index' %}" class="logo-link">
        <img src="{% static 'images/logo.png' %}" class="logo-img" alt="Logo">
    </a>
</footer>

</body>
</html>