{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>Voiture</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
    <div class="header-left">
        <a href="{% url 'index' %}" class="logo-link">
            <img src="{% static 'images/logo.png' %}" class="logo-img" alt="Voiture Logo">
        </a>
    </div>
    <nav class="header-center">
        <ul class="nav-links">
            <li class="nav-item"><a class="nav-link scrollButton" href="{% url 'index' %}#hero-section">About</a></li>
            <li class="nav-item"><a class="nav-link scrollButton" href="{% url 'index' %}#contact-card">Contacts</a></li>
        </ul>
    </nav>
    <div class="header-right">
        <ul class="nav-links">
            <li class="nav-item">
                <a class="nav-link scrollButton" href="{% url 'index' %}#example-section">Try Voiture</a>
            </li>
        </ul>
    </div>
</header>

<div class="content">
    {% block content %} {% endblock content %}
</div>

<footer>
    <a href="{% url 'index' %}" class="logo-link">
        <img src="{% static 'images/logo.png' %}" class="logo-img" alt="Logo">
    </a>

    <div class="social-icons">
        <a href="https://github.com/provodokkk"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/danylo-provodov"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
    </div>
</footer>

</body>
</html>